<!DOCTYPE html>
<html>
<head>
  <title>Web</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>


  <link href='http://fonts.googleapis.com/css?family=Plaster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
  
  <link rel="apple-touch-icon" href="http://essentials.mijlo.com/apple-touch-icon-precomposed.png"> 
  <link rel="apple-touch-icon" sizes="72x72" href="http://essentials.mijlo.com/apple-touch-icon-72x72-precomposed.png"> 
  <link rel="apple-touch-icon" sizes="114x114" href="http://essentials.mijlo.com/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon" sizes="144x144" href="http://essentials.mijlo.com/apple-touch-icon-144x144-precomposed.png">



 

  <meta name="generator" content="WordPress" /> <!-- leave this for stats -->


  <!-- Feeds -->
  <link rel="alternate" type="application/rss+xml" title="Make Better Shirts - RSS Feed" href="http://makebettershirts.com/feed/" />
  <link rel="alternate" type="application/rss+xml" title="Make Better Shirts - Comment Feed" href="http://makebettershirts.com/comments/feed/" 
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

  <!-- Pingback -->
  <link rel="pingback" href="http://makebettershirts.com/wordpress/xmlrpc.php" />
  <meta property="og:image" content="http://makebettershirts.com/wordpress/wp-content/uploads/MG_5139-280x400.jpg" /><link rel='stylesheet' id='jetpack-widgets-css'  href='http://makebettershirts.com/wordpress/wp-content/plugins/jetpack/modules/widgets/widgets.css?ver=20121003' type='text/css' media='all' />
<link rel='stylesheet' id='wp-pagenavi-css'  href='http://makebettershirts.com/wordpress/wp-content/themes/makebettershirts/pagenavi-css.css?ver=2.70' type='text/css' media='all' />
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js?ver=1.10.2'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var like_this_ajax_object = {"ajax_url":"http:\/\/makebettershirts.com\/wordpress\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type='text/javascript' src='http://makebettershirts.com/wordpress/wp-content/plugins/roses-like-this/likesScript.js?ver=3.8.3'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://makebettershirts.com/wordpress/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://makebettershirts.com/wordpress/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 3.8.3" />
<link rel='shortlink' href='http://wp.me/1bz0n' />
<script type="text/javascript">var quoteCommentsSiteurl = "http://makebettershirts.com/wordpress";</script><script type="text/javascript" src="http://makebettershirts.com/wordpress/wp-content/plugins/simple-comment-quotes/simple-comment-quotes.js"></script>


  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="http://essentials.mijlo.com/js/modernizr.custom.93139.js"></script>
</head>
<body>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>


<%= yield %>

</body>
</html>
