



<!-- <h1> THIS IS THE PHOTOBOOTHS SHOW PAGE </h1> -->

<% if @description == nil %>
  <!-- Start WOWSlider.com BODY section -->
  <div id="wowslider-container1">
  <div class="ws_images"><ul>
    <li><%=image_tag("fashion8.jpg", alt:'fashion8', id:"wows1_0", title:"fashion8")%> </li>
    <li><%=image_tag("fashion10.jpg", alt:'fashion10', id:"wows1_1", title:"fashion10")%> </li>
    <li><%=image_tag("real1.jpg", alt:'real1', id:"wows1_2", title:"real1")%> </li>
    <li><%=image_tag("real2.jpg", alt:'real2', id:"wows1_3", title:"real2")%> </li>
    <li><%=image_tag("real3.jpg", alt:'real3', id:"wows1_4", title:"real3")%> </li>
    <li><%=image_tag("real4.jpg", alt:'real4', id:"wows1_5", title:"real4")%> </li>
    <li><%=image_tag("real5.jpg", alt:'real5', id:"wows1_6", title:"real5")%> </li>
    <li><%=image_tag("real6.jpg", alt:'real6', id:"wows1_7", title:"real6")%> </li>
<!-- <li><img src="data1/images/fashion8.jpg" alt="fashion8" title="fashion8" id="wows1_0"/></li> -->
<!-- <li><img src="data1/images/fashion10.jpg" alt="fashion10" title="fashion10" id="wows1_1"/></li>
<li><img src="data1/images/real1.jpg" alt="real1" title="real1" id="wows1_2"/></li>
<li><img src="data1/images/real2.jpg" alt="real2" title="real2" id="wows1_3"/></li>
<li><img src="data1/images/real3.jpg" alt="real3" title="real3" id="wows1_4"/></li>
<li><img src="data1/images/real4.jpg" alt="real4" title="real4" id="wows1_5"/></li>
<li><img src="data1/images/real5.jpg" alt="real5" title="real5" id="wows1_6"/></li>
<li><img src="data1/images/real6.jpg" alt="real6" title="real6" id="wows1_7"/></li> -->
</ul></div>
<div class="ws_bullets"><div>
<a href="#" title="fashion8"><%=image_tag("fashion8.jpg", alt:"fashion8")%>/></a>
<a href="#" title="fashion10"><%=image_tag("fashion10.jpg", alt:"fashion10")%>/></a>
<a href="#" title="real1"><%=image_tag("real1.jpg", alt:"real1")%>/></a>
<a href="#" title="real2"><%=image_tag("real2.jpg", alt:"real2")%>/></a>
<a href="#" title="real3"><%=image_tag("real3.jpg", alt:"real3")%>/></a>
<a href="#" title="real4"><%=image_tag("real4.jpg", alt:"real4")%>/></a>
<a href="#" title="real5"><%=image_tag("real5.jpg", alt:"real5")%>/></a>
<a href="#" title="real6"><%=image_tag("real6.jpg", alt:"real6")%>/></a>
</div></div>

  <div class="ws_shadow"></div>
  </div>
  <!-- End WOWSlider.com BODY section -->

 <script type="text/javascript">
    <%= render 'photobooths/slider/wowslider.js' %>
    <%= render 'photobooths/slider/wowscript.js' %>
    setTimeout(function(){
      location.reload()
     },10000)

    var url = "/results/<%=@photobooth.id%>";

    function check() {
      $.get(url, function(data) {
        console.log(data);
        window.xyz = data;
        if (data.description == null) {
          setTimeout(check,5000)
        } else {
          document.location.reload(true);
        }

      }, 'json'); 
    }
    check();
  </script>

  <div class= "loading"> LOADING ... </div>
<% else %>


  <link rel="shortcut icon" href="http://www.makebetterwebsites.com/favicon.ico" />
  <link rel="apple-touch-icon" href="http://www.makebetterwebsites.com/apple-touch-icon.png"/>

  <link rel="author" href="https://plus.google.com/102668895799575126128?rel=author" />




  <meta name="generator" content="WordPress" /> <!-- leave this for stats -->


  <!-- Feeds -->
  <link rel="alternate" type="application/rss+xml" title="Make Better Shirts - RSS Feed" href="http://makebettershirts.com/feed/" />
  <link rel="alternate" type="application/rss+xml" title="Make Better Shirts - Comment Feed" href="http://makebettershirts.com/comments/feed/" />

  <!-- Dieses Tag in den Head-Bereich oder direkt vor dem schließenden Body-Tag einfügen -->

<body id="top">
<script type="text/javascript">
window.google_analytics_uacct = "UA-1817569-12";
</script>

<div id="wrapper">

  <div id="head">
    <div id="headContent">
     Style Me Search Results...
    </div>

    <div id="headContentSmall">
      Hello. <a href="http://makebettershirts.com/submit">Submit a Shirt!</a>
    </div>
  </div>
<div id="sidebar">
    

      
        <!-- <li><%=link_to "Home", "/"%></li> -->
        <li style="
    font-size: 28px;
     margin: 70px 15px;
    font-family: 'railway' sans-serif;
"><%=link_to "Photobooths","/users/#{@user.id}/photobooths"%></li>
        <li style="
    font-size: 28px;
     margin: 0px 15px;
    font-family: 'railway' sans-serif;
"><%=link_to "Home", "/"%></li>
        
               <!--  <div style="float:left; margin:0 0 5px 0;">
                  <a href="https://twitter.com/styleme" class="twitter-follow-button" data-show-count="false">Follow @StyleMe</a>
                  <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
                </div> -->

                   
                   <div style="float:left; margin:5px 0 0 0;">
                    <g:plusone></g:plusone>
                   </div>
                </li>
    </ul>
  </div><div id="contentWrap">
  <div id="content">

        <ul id="gallery">


    <%@search_results.each do |results| %>
    
   
          <li id="post-621">
       <%= image_tag(results.url, class:"attachment-thumbnail wp-post-image", width: "280", height: "400", alt: "_MG_5139")%>
       
            <a class="allover" rel="bookmark" href=<%="#{results.shopping_url}"%>>
                <div class="overlay">

                    <h2><%=results.description%></h2>
                    <div class="subline">
                                            
                                      found on <strong>Amazon</strong>                                            </div>

        

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-621" data-post-id="621"></a>          <a href="http://makebettershirts.com/shirts/wolf-inkblot/621/#comments" class="comment"  title="Comment on Wolf Inkblot">7</a>                </div>
      </li>
      <%end%>
          <li id="post-618">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/pow_blk-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="pow_blk" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>POW</h2>
                    <div class="subline">
                                            
                                      found on <strong>Amazon</strong>                                          

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-618" data-post-id="618"></a>          <a href="#" class="comment"  title="Comment on POW">0</a>                </div>
      </li>
          <li id="post-616">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/leesleeps_white-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="leesleeps_white" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Beardy Man</h2>
                    <div class="subline">
                                            
                                      found on <strong>Amazon</strong>                                          
                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-616" data-post-id="616"></a>          <a href="#" class="comment"  title="Comment on Beardy Man">0</a>                </div>
      </li>
          <li id="post-612">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/teechrsismall-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="teechrsismall" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Known pleasures</h2>
                    <div class="subline">
                                            
                                      found on <strong>African Apparel</strong>  
                    </div>                            

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-612" data-post-id="612"></a>          <a href="#" class="comment"  title="Comment on Known pleasures">1</a>                </div>
      </li>
          <li id="post-608">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/138075_32890940-tsrms119_b-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="138075_32890940-tsrms119_b" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Icons 010</h2>
                    <div class="subline">
                                            
                                      found on <strong>Silence Television</strong>                        
                    </div>

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-608" data-post-id="608"></a>          <a href="#" class="comment"  title="Comment on Icons 010">0</a>                </div>
      </li>
          <li id="post-605">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/stu_hoots_main-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="stu_hoots_main" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Stu Hoots!</h2>
                    <div class="subline">
                                            
                                      found on <strong>WLDWLVS</strong>                                          </div>

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-605" data-post-id="605"></a>          <a href="#" class="comment"  title="Comment on Stu Hoots!">3</a>                </div>
      </li>
          <li id="post-603">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/ahoi-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="ahoi" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Eye of Triangle</h2>
                    <div class="subline">
                                            
                                      found on <strong>Ahoi</strong>                                            </div>
         

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-603" data-post-id="603"></a>          <a href="#" class="comment"  title="Comment on Eye of Triangle">3</a>                </div>
      </li>
          <li id="post-599">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/cross-keys-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="cross-keys" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Cross Keys</h2>
                    <div class="subline">
                                            
                                      found on <strong>WLDWLVS</strong>                                            </div>
          <div class="subline">posted by <strong>Jan</strong></div>
          <div class="subline">Dec 10th, 2012</div>

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-599" data-post-id="599"></a>          <a href="#" class="comment"  title="Comment on Cross Keys">0</a>                </div>
      </li>
          <li id="post-596">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/little_things460b_1024x1024-280x400.png" class="attachment-thumbnail wp-post-image" alt="little_things460b_1024x1024" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>IT&#8217;S THE LITTLE THINGS</h2>
                    <div class="subline">
                                            
                                      found on <strong>ugmonk</strong>                                            </div>
          <div class="subline">posted by <strong>David</strong></div>
          <div class="subline">Nov 30th, 2012</div>

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-596" data-post-id="596"></a>          <a href="#" class="comment"  title="Comment on IT&#8217;S THE LITTLE THINGS">0</a>                </div>
      </li>
          <li id="post-590">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/231-557-drmtm-thick-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="231-557-drmtm-thick" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>D-Rag Tee</h2>
                    <div class="subline">
                                            
                                      found on <strong>Drmtm</strong>                                            </div>
          <div class="subline">posted by <strong>Jan</strong></div>
          <div class="subline">Aug 13th, 2012</div>

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-590" data-post-id="590"></a>          <a href="#" class="comment"  title="Comment on D-Rag Tee">0</a>                </div>
      </li>
          <li id="post-587">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/bacon-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="bacon" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>ベーコン</h2>
                    <div class="subline">
                                            
                                      found on <strong>Tee Party</strong>                                            </div>
          

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-587" data-post-id="587"></a>          <a href="#" class="comment"  title="Comment on ベーコン">0</a>                </div>
      </li>
          <li id="post-584">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/fernglas-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="fernglas" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Twitcher</h2>
                    <div class="subline">
                                            
                                      found on <strong>Lazy Oaf</strong>                                            </div>
          

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-584" data-post-id="584"></a>          <a href="#" class="comment"  title="Comment on Twitcher">1</a>                </div>
      </li>
          <li id="post-582">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/burger-puppe-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="burger puppe" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Got Beef</h2>
                    <div class="subline">
                                            
                                      found on <strong>Lazy Oaf</strong>                                            </div>
          

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-582" data-post-id="582"></a>          <a href="#" class="comment"  title="Comment on Got Beef">0</a>                </div>
      </li>
          <li id="post-580">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/batman-shirt-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="batman shirt" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Bat Repeat</h2>
                    <div class="subline">
                                            
                                      found on <strong>Lazy Oaf</strong>                                            </div>
         

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-580" data-post-id="580"></a>          <a href="#" class="comment"  title="Comment on Bat Repeat">1</a>                </div>
      </li>
          <li id="post-578">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/kick-out-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="kick-out" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>KICK-OUT</h2>
                    <div class="subline">
                                            
                                      found on <strong>Olow Shop</strong>                                            </div>
         

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-578" data-post-id="578"></a>          <a href="#" class="comment"  title="Comment on KICK-OUT">0</a>                </div>
      </li>
          <li id="post-575">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/black-jack-sanduhr-t-shirt-white-016b2b8008f0d2da4efd7d27bedc23ab-280x400.jpeg" class="attachment-thumbnail wp-post-image" alt="black-jack-sanduhr-t-shirt-white-016b2b8008f0d2da4efd7d27bedc23ab" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Sanduhr</h2>
                    <div class="subline">
                                            
                                      found on <strong>The Blackjack Project</strong>                                            </div>
        
                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-575" data-post-id="575"></a>          <a href="#" class="comment"  title="Comment on Sanduhr">0</a>                </div>
      </li>
          <li id="post-572">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/product-Slice-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="product-Slice" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Slice</h2>
                    <div class="subline">
                                            
                                      found on <strong>Inkefx</strong>                                            </div>
          

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-572" data-post-id="572"></a>          <a href="#" class="comment"  title="Comment on Slice">1</a>                </div>
      </li>
          <li id="post-569">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/2tsh-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="2tsh" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Sharp Stripes</h2>
                    <div class="subline">
                                            
                                      found on <strong>Dope Clothing</strong>                                            </div>
         

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-569" data-post-id="569"></a>          <a href="#" class="comment"  title="Comment on Sharp Stripes">0</a>                </div>
      </li>
          <li id="post-566">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/italic-t-shirt-navy-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="italic-t-shirt-navy" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Italic</h2>
                    <div class="subline">
                                            
                                      found on <strong>Saturdays Surf NYC</strong>                                            </div>
         

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-566" data-post-id="566"></a>          <a href="#" class="comment"  title="Comment on Italic">1</a>                </div>
      </li>
          <li id="post-562">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/8-Bit-Avengers-Shirt-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="8-Bit-Avengers-Shirt" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>8-bit Avengers</h2>
                    <div class="subline">
                                            
                                      found on <strong>80s Tees</strong>                                            </div>
          

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-562" data-post-id="562"></a>          <a href="#" class="comment"  title="Comment on 8-bit Avengers">0</a>                </div>
      </li>
          <li id="post-560">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/enclave_1-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="enclave_1" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Shimmer</h2>
                    <div class="subline">
                                            
                                      found on <strong>Enclave Apparel</strong>                                            </div>
         

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-560" data-post-id="560"></a>          <a href="#" class="comment"  title="Comment on Shimmer">0</a>                </div>
      </li>
          <li id="post-557">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/Tools-of-the-Trade-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="Tools of the Trade" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Tools of the Trade</h2>
                    <div class="subline">
                                            
                                      found on <strong>Sock Monkee</strong>                                            </div>
          

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-557" data-post-id="557"></a>          <a href="#" class="comment"  title="Comment on Tools of the Trade">0</a>                </div>
      </li>
          <li id="post-555">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/black-jack-sanduhr-longsleeve-grey-7e7a2d25393fe164e34f81e87d7450a2-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="black-jack-sanduhr-longsleeve-grey-7e7a2d25393fe164e34f81e87d7450a2" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Sanduhr</h2>
                    <div class="subline">
                                            
                                      found on <strong>The Blackjack Project</strong>                                            </div>
          

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-555" data-post-id="555"></a>          <a href="#" class="comment"  title="Comment on Sanduhr">0</a>                </div>
      </li>
          <li id="post-550">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/FROZEN-WATER-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="FROZEN WATER" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>FROZEN WATER</h2>
                    <div class="subline">
                                            
                                      found on <strong>Dauerfeuer</strong>                                            </div>
       

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-550" data-post-id="550"></a>          <a href="#" class="comment"  title="Comment on FROZEN WATER">0</a>                </div>
      </li>
          <li id="post-547">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/Erebus-V2-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="Erebus V2" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Erebus V2</h2>
                    <div class="subline">
                                            
                                      found on <strong>Glorious Nightmare</strong>                                            </div>
         

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-547" data-post-id="547"></a>          <a href="#" class="comment"  title="Comment on Erebus V2">0</a>                </div>
      </li>
          <li id="post-544">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/boyismytoy-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="boyismytoy" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Boy is my Toy</h2>
                    <div class="subline">
                                            
                                      found on <strong>Müde Shirts</strong>                                            </div>
         
                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-544" data-post-id="544"></a>          <a href="#" class="comment"  title="Comment on Boy is my Toy">0</a>                </div>
      </li>
          <li id="post-541">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/unt1-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="unt1" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Untitled No. 1</h2>
                    <div class="subline">
                                            
                                      found on <strong>Druckwelle</strong>                                            </div>
         

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-541" data-post-id="541"></a>          <a href="#" class="comment"  title="Comment on Untitled No. 1">0</a>                </div>
      </li>
          <li id="post-534">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/0000000029434_600_0-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="0000000029434_600_0" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>King of Clubs</h2>
                    <div class="subline">
                                            
                                      found on <strong>House of Hoxshore</strong>                                            </div>
      

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-534" data-post-id="534"></a>          <a href="#" class="comment"  title="Comment on King of Clubs">0</a>                </div>
      </li>
          <li id="post-531">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/bruisedbear-mens-beach-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="bruisedbear-mens-beach" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Bruised Bear</h2>
                    <div class="subline">
                                            
                                      found on <strong>Bruised Bear</strong>                                            </div>
         

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-531" data-post-id="531"></a>          <a href="#" class="comment"  title="Comment on Bruised Bear">0</a>                </div>
      </li>
          <li id="post-528">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/battlecat_green-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="battlecat_green" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Battlecat</h2>
                    <div class="subline">
                                            
                                      found on <strong>Dauerfeuer</strong>                                            </div>
         

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-528" data-post-id="528"></a>          <a href="#" class="comment"  title="Comment on Battlecat">1</a>                </div>
      </li>
          <li id="post-525">

        <img width="280" height="345" src="http://makebettershirts.com/wordpress/wp-content/uploads/Tough-Love-280x345.jpg" class="attachment-thumbnail wp-post-image" alt="Tough Love" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Tough Love</h2>
                    <div class="subline">
                                            
                                      found on <strong>Black Heartz</strong>                                            </div>
         

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-525" data-post-id="525"></a>          <a href="#" class="comment"  title="Comment on Tough Love">0</a>                </div>
      </li>
          <li id="post-523">

        <img width="280" height="378" src="http://makebettershirts.com/wordpress/wp-content/uploads/uwe-tee-280x378.jpg" class="attachment-thumbnail wp-post-image" alt="uwe-tee" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Uwe Tee</h2>
                    <div class="subline">
                                            
                                      found on <strong>Uberfresh</strong>                                            </div>
        

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-523" data-post-id="523"></a>          <a href="#" class="comment"  title="Comment on Uwe Tee">0</a>                </div>
      </li>
          <li id="post-520">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/3_3_426-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="3_3_426" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Pyramid</h2>
                    <div class="subline">
                                            
                                      found on <strong>Ucon</strong>                                            </div>
          

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-520" data-post-id="520"></a>          <a href="#" class="comment"  title="Comment on Pyramid">1</a>                </div>
      </li>
          <li id="post-518">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/1_6_128-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="1_6_128" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>Ciclope</h2>
                    <div class="subline">
                                            
                                      found on <strong>Ucon</strong>                                            </div>
         

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-518" data-post-id="518"></a>          <a href="#" class="comment"  title="Comment on Ciclope">0</a>                </div>
      </li>
          <li id="post-515">

        <img width="280" height="400" src="http://makebettershirts.com/wordpress/wp-content/uploads/LIGHTS-OFF-280x400.jpg" class="attachment-thumbnail wp-post-image" alt="LIGHTS OFF" />                <a class="allover" href="#" rel="bookmark" title="">
                <div class="overlay">

                    <h2>LIGHTS OFF</h2>
                    <div class="subline">
                                            
                                      found on <strong>ZRKS</strong>                                            </div>
          

                </div>
                </a>
                <div class="options">
                    <a href="#" class="likeThis" id="like-515" data-post-id="515"></a>          <a href="#" class="comment"  title="Comment on LIGHTS OFF">0</a>                </div>
      </li>
       
     
    
     
      
       
     
       
        </ul>
      </div>
</div>


<!-- <div id="footer">
    <ul id="footerContent">
      <li>
        <span class="headline">Photobooths</span>
        <ul class="mostlikedposts">Check out the photobooths to see<br> what others have searched for!</ul>
      </li>
      <li>
        <span class="headline">About Us</span>
        See a shirt you like?  Don't know where to buy it?  Snap a photo and upload it to StyleMe.  We'll take care of the rest!
       
      </li>
     
            <li>
              <span class="headline">Like Us</span>
        <ul>
                <li><a href="http://www.facebook.com/styleme">facebook.com/styleme</a></li>
        <li><a href="http://www.twitter.com/styleme">twitter.com/styleme</a></li>
        
                </ul>
    </ul>
  </div> -->
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1817569-12']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type='text/javascript' src='http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201421'></script>

  <script src="http://stats.wordpress.com/e-201421.js" type="text/javascript"></script>
  <script type="text/javascript">
  st_go({v:'ext',j:'1:2.7.2',blog:'17532507',post:'0',tz:'2'});
  var load_cmc = function(){linktracker_init(17532507,0,2);};
  if ( typeof addLoadEvent != 'undefined' ) addLoadEvent(load_cmc);
  else load_cmc();
  </script>
<script type="text/javascript" src="http://makebettershirts.com/wordpress/wp-content/themes/makebettershirts/js/functions.js"></script>

<script type="text/javascript" src="http://include.reinvigorate.net/re_.js"></script>
<script type="text/javascript">
try {
reinvigorate.track("200y1-m132op9hhi");
} catch(err) {}
</script>
</body>
</html>






 
<%end%>




