<div class = "profile-body">



<div class="bg-content">     
<div class="top">
  <!-- Logo -->
  <div id="logo">
    <span class="image avatar48">
      <div class ="my-info">
      <h1 class="closet-title">Christopher Palmer's Closet</h1>
    </div>
    </span>
  </div>
</div>




<div class ="closet-container">

  <div class = "photobooth">
      <!-- first image  -->
      <div class="cuadro_intro_hover " style="background-color:#cccccc;">
            <p class ="photobooth-p">
              <div class = "large-image-div"><%=image_tag "boots3.jpg", :class =>"img-responsive"%>
            </div></p>
            <div class="caption">
              <div class="blur"></div>
              <div class="caption-text">
                <h3 >brown leather boots</h3>
                <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                <a class=" btn btn-default" href="#"><span class="glyphicon glyphicon-plus"> INFO</span></a>
              </div>
            </div>
          </div>

      <div class ="small-image-div">
        <%=image_tag "boots1.jpeg", :class=> "small-image"%>
      </div>
      <div class ="small-image-div">
         <%=image_tag "boots2.jpg", :class=> "small-image"%>
      </div>
      <div class ="small-image-div">
         <%=image_tag "boots1.jpg", :class=> "small-image"%>
      </div>
    </div>


    <!-- second image -->
    <div class ="photobooth">
         <div class="cuadro_intro_hover " style="background-color:#cccccc;">
            <p class ="photobooth-p">
              <div class = "large-image-div"><%=image_tag "blazer.jpg", :class =>"img-responsive"%>
            </div></p>
            <div class="caption">
              <div class="blur"></div>
              <div class="caption-text">
                <h3 >tweed light blazer</h3>
                <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                <a class=" btn btn-default" href="#"><span class="glyphicon glyphicon-plus"> INFO</span></a>
              </div>
            </div>
          </div>

    <div class ="small-image-div">
      <%=image_tag "blazer3.jpg", :class=> "small-image"%>
    </div>
    <div class ="small-image-div">
       <%=image_tag "blazer2.jpg", :class=> "small-image"%>
    </div>
    <div class ="small-image-div">
       <%=image_tag "blazer1.jpg", :class=> "small-image"%>
    </div>
    </div>


<!-- third image -->

    <div class ="photobooth">
         <div class="cuadro_intro_hover " style="background-color:#cccccc;">
            <p class = "photobooth-p">
              <div class = "large-image-div"><%=image_tag "leather.jpg", :class =>"img-responsive"%>
            </div></p>
            <div class="caption">
              <div class="blur"></div>
              <div class="caption-text">
                <h3 >black leather jacket</h3>
                <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                <a class=" btn btn-default" href="#"><span class="glyphicon glyphicon-plus"> INFO</span></a>
              </div>
            </div>
          </div>

    <div class ="small-image-div">
      <%=image_tag "leather3.jpg", :class=> "small-image"%>
    </div>
    <div class ="small-image-div">
       <%=image_tag "leather1.jpg", :class=> "small-image"%>
    </div>
    <div class ="small-image-div">
       <%=image_tag "leather2.jpg", :class=> "small-image"%>
    </div>
    </div>


<!-- forth image -->

    <div class ="photobooth">
         <div class="cuadro_intro_hover " style="background-color:#cccccc;">
            <p class = "photobooth-p">
              <div class = "large-image-div"><%=image_tag "backpack.jpeg", :class =>"img-responsive"%>
            </div></p>
            <div class="caption">
              <div class="blur"></div>
              <div class="caption-text">
                <h3 >buckled backpack</h3>
                <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                <a class=" btn btn-default" href="#"><span class="glyphicon glyphicon-plus"> INFO</span></a>
              </div>
            </div>
          </div>

    <div class ="small-image-div">
      <%=image_tag "backpack2.jpg", :class=> "small-image"%>
    </div>
    <div class ="small-image-div">
       <%=image_tag "backpack1.jpg", :class=> "small-image"%>
    </div>
    <div class ="small-image-div">
       <%=image_tag "backpack3.jpg", :class=> "small-image"%>
    </div>
    </div>



<!-- fifth image -->
    <div class ="photobooth">
         <div class="cuadro_intro_hover " style="background-color:#cccccc;">
            <p class = "photobooth-p">
              <div class = "large-image-div"><%=image_tag "sweater4.jpeg", :class =>"img-responsive"%>
            </div></p>
            <div class="caption">
              <div class="blur"></div>
              <div class="caption-text">
                <h3 >red sweater</h3>
                <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                <a class=" btn btn-default" href="#"><span class="glyphicon glyphicon-plus"> INFO</span></a>
              </div>
            </div>
          </div>

    <div class ="small-image-div">
      <%=image_tag "sweater.jpg", :class=> "small-image"%>
    </div>
    <div class ="small-image-div">
       <%=image_tag "sweater2.jpg", :class=> "small-image"%>
    </div>
    <div class ="small-image-div">
       <%=image_tag "sweater1.jpg", :class=> "small-image"%>
    </div>
    </div>


<!-- sixth image -->

    <div class ="photobooth">
         <div class="cuadro_intro_hover " style="background-color:#cccccc;">
            <p class = "photobooth-p">
              <div class = "large-image-div"><%=image_tag "jeans.png", :class =>"img-responsive"%>
            </div></p>
            <div class="caption">
              <div class="blur"></div>
              <div class="caption-text">
                <h3 >denim jeans</h3>
                <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                <a class=" btn btn-default" href="#"><span class="glyphicon glyphicon-plus"> INFO</span></a>
              </div>
            </div>
          </div>

    <div class ="small-image-div">
      <%=image_tag "jeans1.jpg", :class=> "small-image"%>
    </div>
    <div class ="small-image-div">
       <%=image_tag "jeans4.jpeg", :class=> "small-image"%>
    </div>
    <div class ="small-image-div">
       <%=image_tag "jeans2.jpg", :class=> "small-image"%>
    </div>
    </div>


<!-- seventh image -->

    <div class ="photobooth">
         <div class="cuadro_intro_hover " style="background-color:#cccccc;">
            <p class = "photobooth-p">
              <div class = "large-image-div"><%=image_tag "suede.jpeg", :class =>"img-responsive"%>
            </div></p>
            <div class="caption">
              <div class="blur"></div>
              <div class="caption-text">
                <h3 >tuepe suede shoes</h3>
                <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                <a class=" btn btn-default" href="#"><span class="glyphicon glyphicon-plus"> INFO</span></a>
              </div>
            </div>
          </div>

    <div class ="small-image-div">
      <%=image_tag "suede1.jpg", :class=> "small-image"%>
    </div>
    <div class ="small-image-div">
       <%=image_tag "suede2.jpg", :class=> "small-image"%>
    </div>
    <div class ="small-image-div">
       <%=image_tag "suede3.JPG", :class=> "small-image"%>
    </div>
    </div>


<!-- eigth image -->

    <div class ="photobooth">
         <div class="cuadro_intro_hover " style="background-color:#cccccc;">
            <p class = "photobooth-p">
              <div class = "large-image-div"><%=image_tag "shirt1.jpeg", :class =>"img-responsive"%>
            </div></p>
            <div class="caption">
              <div class="blur"></div>
              <div class="caption-text">
                <h3 >denim collar shirt</h3>
                <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                <a class=" btn btn-default" href="#"><span class="glyphicon glyphicon-plus"> INFO</span></a>
              </div>
            </div>
          </div>

    <div class ="small-image-div">
      <%=image_tag "shirt3.jpg", :class=> "small-image"%>
    </div>
    <div class ="small-image-div">
       <%=image_tag "shirt2.jpeg", :class=> "small-image"%>
    </div>
    <div class ="small-image-div">
       <%=image_tag "shirt.jpeg", :class=> "small-image"%>
    </div>
    </div>

<!--

  <div class = "photobooth">
    <div class ="big-image-div">
      <p><%=image_tag "jeans.png", :class=> "big-image"%></p>
    </div>
    <div class ="small-image-div">
      <%=image_tag "jeans1.jpg", :class=> "small-image"%>
    </div>
    <div class ="small-image-div">
      <%=image_tag "jeans2.jpg", :class=> "small-image"%>
    </div>
    <div class ="small-image-div">
      <%=image_tag "jeans3.jpg", :class=> "small-image"%>
    </div>
  </div>

</div>