





            <h2>Welcome to your profile page, <%=@user.name%>!</h2>
        <!--============================== slider =================================-->
        
                <%= form_tag "/users/#{@user.id}/photobooths", :method => "post", multipart: true do %>
                <div class="subtext">upload a picture <%= file_field_tag "file_name", class: 'upload' %></div>
                <div class="subtag"><%= submit_tag 'match me', :class => 'submitphoto'%></div>
                <% end %>
         
      
      <!--============================== content =================================-->
      
      
    
            <figure class="img-indent"><%= gravatar_for @user %></figure>
            <div class="inner-1 overflow extra">
                  <!-- <div class="txt-1">Sed </div> -->
              <ul class ="user-profile">
                <li class="profile-item">Username: <%=@username%></li>
                <li class ="profile-item">Email: <%=@email%></li>
                <li class ="profile-item">About Me: <%=@about_me%></li>
              </ul>        
        

       






 